exampleflows/sendphoto
[{"id":"ff78bc5a.00874","type":"telegram bot","z":"70c3f45a.8f3c0c","botname":"HeinzBot","usernames":"","chatids":""},{"id":"8369d2d4.722d7","type":"telegram sender","z":"70c3f45a.8f3c0c","name":"","bot":"ff78bc5a.00874","x":526.5148315429688,"y":708.5407104492188,"wires":[[]]},{"id":"49cf240b.2ca1ac","type":"function","z":"70c3f45a.8f3c0c","name":"send picture","func":"msg.payload.content = 'foo.jpeg';\nmsg.payload.type = 'photo';\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":312.51483154296875,"y":709.5407104492188,"wires":[["8369d2d4.722d7"]]},{"id":"34b94dc0.38f9f2","type":"telegram command","z":"70c3f45a.8f3c0c","name":"/foo","command":"/foo","bot":"ff78bc5a.00874","x":119.510498046875,"y":715.3689575195312,"wires":[["49cf240b.2ca1ac"],[]]}]