exampleflows/sendmessagetochat
[{"id":"ff78bc5a.00874","type":"telegram bot","z":"70c3f45a.8f3c0c","botname":"HeinzBot","usernames":"","chatids":""},{"id":"8369d2d4.722d7","type":"telegram sender","z":"70c3f45a.8f3c0c","name":"","bot":"ff78bc5a.00874","x":526.5148315429688,"y":708.5407104492188,"wires":[[]]},{"id":"49cf240b.2ca1ac","type":"function","z":"70c3f45a.8f3c0c","name":"send markdown","func":"var message = 'You can also send *markdown* formatted messages.';\nmsg.payload = {chatId : 138708568, type : 'message', content : message};\n\n// activate markdown\nmsg.payload.options = {disable_web_page_preview : true, parse_mode : \"Markdown\"};\nreturn msg;","outputs":1,"noerr":0,"x":305.51483154296875,"y":706.5407333374023,"wires":[["8369d2d4.722d7"]]},{"id":"df89602b.3cc31","type":"inject","z":"70c3f45a.8f3c0c","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.83332824707031,"y":706.0000839233398,"wires":[["49cf240b.2ca1ac"]]}]