examples/basicinlinekeyboard.json
[{"id":"f7c18f49.063c4","type":"telegram sender","z":"c8b50aaa.e632d","name":"","bot":"2db9661a.cf3b0a","x":730,"y":900,"wires":[[]]},{"id":"f97878f7.de1bf8","type":"function","z":"c8b50aaa.e632d","name":"build keyboard","func":"var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"A1\",\n                    \"callback_data\": \"1\"            \n                }, \n                {\n                    \"text\": \"A2\",\n                    \"callback_data\": \"2\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = \"Selection?\";\nmsg.payload.options = opts;\nmsg.payload.chatId = 12345;\nmsg.payload.messageId = 99;\nmsg.payload.sentMessageId = 99;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":900,"wires":[["f7c18f49.063c4","67925ff5.4c7c9"]]},{"id":"67925ff5.4c7c9","type":"debug","z":"c8b50aaa.e632d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":960,"wires":[]},{"id":"e1a6a394.269598","type":"inject","z":"c8b50aaa.e632d","name":"","props":[{"p":"payload.content","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":230,"y":900,"wires":[["f97878f7.de1bf8"]]},{"id":"981d4537.1ced18","type":"telegram event","z":"c8b50aaa.e632d","name":"","bot":"2db9661a.cf3b0a","event":"callback_query","autoanswer":false,"x":240,"y":982,"wires":[["ab3f06a.9c5a0f8"]]},{"id":"ab3f06a.9c5a0f8","type":"debug","z":"c8b50aaa.e632d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":982,"wires":[]},{"id":"93430912.0f4f4","type":"comment","z":"c8b50aaa.e632d","name":"Inline keyboard: Reply with \"callback_query\"","info":"","x":350,"y":842,"wires":[]},{"id":"2db9661a.cf3b0a","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
