examples/basiccustomkeyboard.json
[{"id":"80211883.fcf5f","type":"telegram receiver","z":"c8b50aaa.e632d","name":"","bot":"2db9661a.cf3b0a","saveDataDir":"","filterCommands":false,"x":250,"y":1262,"wires":[["d719b18b.da75f8"],[]]},{"id":"d719b18b.da75f8","type":"debug","z":"c8b50aaa.e632d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":1262,"wires":[]},{"id":"cd98abdd.e338f","type":"inject","z":"c8b50aaa.e632d","name":"","props":[{"p":"payload.content","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":230,"y":1160,"wires":[["2c2e5956.54b846"]]},{"id":"c8a8015.60267","type":"telegram sender","z":"c8b50aaa.e632d","name":"","bot":"2db9661a.cf3b0a","x":730,"y":1160,"wires":[[]]},{"id":"2c2e5956.54b846","type":"function","z":"c8b50aaa.e632d","name":"build keyboard","func":"\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['A1'],\n      ['A2']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\nmsg.error = false;\n// Dialogaufbau\nmsg.payload.content = 'Selection?';\nmsg.payload.options = opts;\n\n\nmsg.payload.chatId = 123445;\nmsg.payload.messageId = 99;\nmsg.payload.sentMessageId = 99;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":470,"y":1160,"wires":[["c8a8015.60267","17b67c4e.c4738c"]]},{"id":"17b67c4e.c4738c","type":"debug","z":"c8b50aaa.e632d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1220,"wires":[]},{"id":"4f9f29f7.8abc78","type":"comment","z":"c8b50aaa.e632d","name":"Custom keyboard: Reply with \"Telegram receiver\"","info":"","x":370,"y":1102,"wires":[]},{"id":"2db9661a.cf3b0a","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
