examples/control.json
[{"id":"c4556e447b08dfb2","type":"telegram control","z":"d6bf7c08c7c5fdba","name":"","bot":"65ca12172854cc2d","outputs":2,"checkconnection":true,"hostname":"","interval":"5","timeout":"","x":590,"y":220,"wires":[["8e653b8e4f0b1ff5"],["b61dd9627184ac37"]]},{"id":"8e653b8e4f0b1ff5","type":"debug","z":"d6bf7c08c7c5fdba","name":"polling","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"0d338f6a83e7e840","type":"inject","z":"d6bf7c08c7c5fdba","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"start\"}","payloadType":"json","x":380,"y":180,"wires":[["c4556e447b08dfb2"]]},{"id":"21b153a9b15a6f59","type":"inject","z":"d6bf7c08c7c5fdba","name":"stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"stop\"}","payloadType":"json","x":380,"y":240,"wires":[["c4556e447b08dfb2"]]},{"id":"5eca9590b64c86c1","type":"inject","z":"d6bf7c08c7c5fdba","name":"restart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"restart\",\"delay\":1000}","payloadType":"json","x":380,"y":300,"wires":[["c4556e447b08dfb2"]]},{"id":"582141be17702b28","type":"inject","z":"d6bf7c08c7c5fdba","name":"command","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"command\",\"message\":{\"from\":{\"id\":0,\"username\":\"unknown\"},\"chat\":{\"id\":0},\"text\":\"/foo\"}}","payloadType":"json","x":380,"y":360,"wires":[["c4556e447b08dfb2"]]},{"id":"bf4e23a0ad144016","type":"telegram command","z":"d6bf7c08c7c5fdba","name":"","command":"/foo","description":"","registercommand":false,"language":"","scope":"default","bot":"65ca12172854cc2d","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":550,"y":380,"wires":[["bc6b81e91a9e1d62"],["3bf77f470221cecd"]]},{"id":"bc6b81e91a9e1d62","type":"debug","z":"d6bf7c08c7c5fdba","name":"debug 69","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":360,"wires":[]},{"id":"3bf77f470221cecd","type":"debug","z":"d6bf7c08c7c5fdba","name":"debug 70","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":400,"wires":[]},{"id":"e01255b0b55cf370","type":"comment","z":"d6bf7c08c7c5fdba","name":"command","info":"The control node can inject a command into all command nodes that use the same bot","x":200,"y":360,"wires":[]},{"id":"b61dd9627184ac37","type":"switch","z":"d6bf7c08c7c5fdba","name":"","property":"payload.isOnline","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":240,"wires":[["06333e3547d9d870"],["6778dfbdd5caec51"]]},{"id":"06333e3547d9d870","type":"debug","z":"d6bf7c08c7c5fdba","name":"online","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"6778dfbdd5caec51","type":"debug","z":"d6bf7c08c7c5fdba","name":"offline","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]