examples/control.json
[{"id":"d84b5890b57e3c20","type":"telegram control","z":"ec1cf3fd9654e7e5","name":"","bot":"65ca12172854cc2d","outputs":1,"x":340,"y":420,"wires":[["79bd4f875c7c41af"]]},{"id":"79bd4f875c7c41af","type":"debug","z":"ec1cf3fd9654e7e5","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":420,"wires":[]},{"id":"07bdd839635f4012","type":"inject","z":"ec1cf3fd9654e7e5","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"start\"}","payloadType":"json","x":130,"y":380,"wires":[["d84b5890b57e3c20"]]},{"id":"c75ee8c58e5f3338","type":"inject","z":"ec1cf3fd9654e7e5","name":"stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"stop\"}","payloadType":"json","x":130,"y":440,"wires":[["d84b5890b57e3c20"]]},{"id":"8054c09af5ba8a3a","type":"inject","z":"ec1cf3fd9654e7e5","name":"restart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"restart\",\"delay\":1000}","payloadType":"json","x":130,"y":500,"wires":[["d84b5890b57e3c20"]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks5","socksport":"1080","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]