examples/copymessage.json
[{"id":"7727eeae.3ff06","type":"function","z":"ed43e0f7.31d9","name":"copy","func":"msg.payload.copy = { chatId : -292227168 };\n\nmsg.payload.copy.options = {\n    disable_notification : true\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":420,"wires":[["5deafc81.1b37d4"]]},{"id":"c4d6200e.a014b","type":"telegram receiver","z":"ed43e0f7.31d9","name":"","bot":"5f67fb38.18d094","saveDataDir":"","filterCommands":false,"x":150,"y":420,"wires":[["7727eeae.3ff06"],[]]},{"id":"5deafc81.1b37d4","type":"telegram sender","z":"ed43e0f7.31d9","name":"","bot":"5f67fb38.18d094","haserroroutput":false,"outputs":1,"x":580,"y":420,"wires":[[]]},{"id":"5f67fb38.18d094","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]