examples/createpoll.json
[{"id":"29f1d57e.66b52a","type":"telegram sender","z":"7652eee0.6d11b","name":"","bot":"5f67fb38.18d094","haserroroutput":false,"outputs":1,"x":790,"y":40,"wires":[[]]},{"id":"aeb4e2e8.ee8b","type":"telegram event","z":"7652eee0.6d11b","name":"Poll","bot":"5f67fb38.18d094","event":"poll","autoanswer":false,"x":190,"y":360,"wires":[["78b59b12.6793e4"]]},{"id":"1e912334.8a1d2d","type":"telegram receiver","z":"7652eee0.6d11b","name":"","bot":"5f67fb38.18d094","saveDataDir":"","filterCommands":false,"x":230,"y":260,"wires":[["78b59b12.6793e4","29f1d57e.66b52a"],[]]},{"id":"78b59b12.6793e4","type":"debug","z":"7652eee0.6d11b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":300,"wires":[]},{"id":"2bab010d.920a9e","type":"telegram event","z":"7652eee0.6d11b","name":"Poll Answer","bot":"5f67fb38.18d094","event":"poll_answer","autoanswer":false,"x":210,"y":440,"wires":[["78b59b12.6793e4"]]},{"id":"75a3afbd.a59c8","type":"telegram command","z":"7652eee0.6d11b","name":"","command":"/newpoll1","bot":"5f67fb38.18d094","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":200,"y":40,"wires":[["c50749bf.376108"],[]]},{"id":"c50749bf.376108","type":"function","z":"7652eee0.6d11b","name":"create poll","func":"msg.payload.type = 'poll';\nmsg.payload.content = \"What do you think?\";\nmsg.payload.options = [\"A\", \"B\", \"C\" ];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":40,"wires":[["29f1d57e.66b52a"]]},{"id":"6a2b097c.bc1428","type":"telegram command","z":"7652eee0.6d11b","name":"","command":"/newpoll2","bot":"5f67fb38.18d094","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":200,"y":120,"wires":[["b2033371.73ece"],[]]},{"id":"b2033371.73ece","type":"function","z":"7652eee0.6d11b","name":"create poll with optional arguments","func":"msg.payload.type = 'poll';\nmsg.payload.content = \"What do you think?\";\nmsg.payload.options = [\"A\", \"B\", \"C\" ];\n\n// you can add optional arguments see\n// https://core.telegram.org/bots/api#sendpoll\nmsg.payload.optional = {\n    allows_multiple_answers : true\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["29f1d57e.66b52a"]]},{"id":"5f67fb38.18d094","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]