examples/createpoll.json
[{"id":"29f1d57e.66b52a","type":"telegram sender","z":"8436a552.ae1f78","name":"","bot":"4b4c4965.847b78","x":570,"y":100,"wires":[[]]},{"id":"aeb4e2e8.ee8b","type":"telegram event","z":"8436a552.ae1f78","name":"Poll","bot":"4b4c4965.847b78","event":"poll","autoanswer":false,"x":130,"y":360,"wires":[["78b59b12.6793e4"]]},{"id":"1e912334.8a1d2d","type":"telegram receiver","z":"8436a552.ae1f78","name":"","bot":"4b4c4965.847b78","saveDataDir":"","filterCommands":false,"x":170,"y":220,"wires":[["78b59b12.6793e4","29f1d57e.66b52a"],[]]},{"id":"78b59b12.6793e4","type":"debug","z":"8436a552.ae1f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":300,"wires":[]},{"id":"2bab010d.920a9e","type":"telegram event","z":"8436a552.ae1f78","name":"Poll Answer","bot":"4b4c4965.847b78","event":"poll_answer","autoanswer":false,"x":150,"y":440,"wires":[["78b59b12.6793e4"]]},{"id":"75a3afbd.a59c8","type":"telegram command","z":"8436a552.ae1f78","name":"","command":"/newpoll","bot":"4b4c4965.847b78","strict":false,"hasresponse":true,"x":140,"y":100,"wires":[["c50749bf.376108"],[]]},{"id":"c50749bf.376108","type":"function","z":"8436a552.ae1f78","name":"create poll","func":"msg.payload.type = 'poll';\nmsg.payload.content = \"What do you think?\";\nmsg.payload.options = [\"A\", \"B\", \"C\" ];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["29f1d57e.66b52a"]]},{"id":"4b4c4965.847b78","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]