examples/downloadfile.json
[{"id":"5b61e831f6a6d74d","type":"telegram receiver","z":"ec1cf3fd9654e7e5","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"x":110,"y":120,"wires":[["7781831794d26351"],[]]},{"id":"e701c4fe8f5db67f","type":"telegram sender","z":"ec1cf3fd9654e7e5","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":630,"y":120,"wires":[["f7fd168fb734c5cb"]]},{"id":"7781831794d26351","type":"function","z":"ec1cf3fd9654e7e5","name":"download first photo manually","func":"if(msg.payload.type === 'photo'){\n    \n    // manually download the first photo using the fileId.\n    msg.payload.download = {\n        fileId : msg.payload.photos[0].file_id,\n        filePath : \"c:\\\\temp\",\n        // fileName : \"foo.jpg\" // optional\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["e701c4fe8f5db67f"]]},{"id":"f7fd168fb734c5cb","type":"debug","z":"ec1cf3fd9654e7e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks5","socksport":"1080","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]