examples/downloadfile.json
[{"id":"75c35f9c5a3311e2","type":"telegram receiver","z":"ec1cf3fd9654e7e5","name":"","bot":"3b6bfbc0.423a04","saveDataDir":"","filterCommands":false,"x":210,"y":140,"wires":[["33b83c10.13de64"],[]]},{"id":"1bdded1.fbdcf13","type":"telegram sender","z":"ec1cf3fd9654e7e5","name":"","bot":"3b6bfbc0.423a04","haserroroutput":false,"outputs":1,"x":730,"y":140,"wires":[["886ef434a337ce60"]]},{"id":"33b83c10.13de64","type":"function","z":"ec1cf3fd9654e7e5","name":"download first photo manually","func":"if(msg.payload.type === 'photo'){\n    \n    // manually download the first photo using the fileId.\n    msg.payload.download = {\n        fileId : msg.payload.photos[0].file_id,\n        filePath : \"c:\\\\temp\"\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["1bdded1.fbdcf13"]]},{"id":"886ef434a337ce60","type":"debug","z":"ec1cf3fd9654e7e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"3b6bfbc0.423a04","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":true,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]