examples/dynamicauthorization.json
[{"id":"f1af007a.70fe1","type":"telegram sender","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","x":450,"y":80,"wires":[[]]},{"id":"9a0d55f1.532a78","type":"telegram receiver","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","saveDataDir":"c:\\temp\\foo","x":150,"y":80,"wires":[["a779c31c.90401","f1af007a.70fe1"],[]]},{"id":"a779c31c.90401","type":"debug","z":"8436a552.ae1f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":160,"wires":[]},{"id":"3d10fe97.36ccb2","type":"inject","z":"8436a552.ae1f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["200c7e87.ebdce2"]]},{"id":"200c7e87.ebdce2","type":"function","z":"8436a552.ae1f78","name":"No Access","func":"// classic aproach for using context.\ncontext.global.usernames = [];\ncontext.global.chatids = [];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[[]]},{"id":"c914e097.aa69","type":"inject","z":"8436a552.ae1f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["744fc175.eb3fa"]]},{"id":"744fc175.eb3fa","type":"function","z":"8436a552.ae1f78","name":"Grant access to User and chat 1","func":"// classic aproach for using context.\ncontext.global.usernames = [ \"User\" ];\ncontext.global.chatids = [ 1 ];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[[]]},{"id":"27a84571.6404da","type":"change","z":"8436a552.ae1f78","name":"Grant access to Sepp and Egon","rules":[{"t":"set","p":"usernames","pt":"global","to":"[\"Sepp\", \"Egon\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[[]]},{"id":"433b7134.9d6f8","type":"inject","z":"8436a552.ae1f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["27a84571.6404da"]]},{"id":"85d1670b.7a0068","type":"change","z":"8436a552.ae1f78","name":"No Access","rules":[{"t":"set","p":"usernames","pt":"global","to":"[\"Sepp\", \"Egon\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[[]]},{"id":"2ac6fd26.708772","type":"inject","z":"8436a552.ae1f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["85d1670b.7a0068"]]},{"id":"c3039832.aed5d8","type":"comment","z":"8436a552.ae1f78","name":"","info":"You can make use of the context in two ways:\n1. context.global.key = value\n2. global.set(key, value)\n\nOnly the latter one can be seen in the context browser window while the first is only stored as variable in memory.\n\nThe config node must be configured as follows:\n1. {context.global.hereyourkey} for approach one\n2. {gobal.get(\"hereyoukey\")} for approach two\n\nIf the config starts with { and ends with } the expression is evaluated as script.\n\nIn this example you can write\n{context.global.username}\n{context.global.chatids}\n\nor \n{global.get(\"usernames\")}\n{global.get(\"chatids\")}\n\nI would recommend the latter one.\n","x":110,"y":280,"wires":[]},{"id":"c3670dce.18aa8","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"{global.get(\"usernames\")}","chatids":"{context.global.chatids}","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]