examples/editinlinekeyboard.json
[{"id":"9d7ace5.214a33","type":"telegram callback_query","z":"725879df.541168","name":"","command":"","bot":"ccc4a708.ce4228","x":187.33334350585938,"y":100.33335304260254,"wires":[["930a454f.61d89","ac59f8ff.5ef0a8"]]},{"id":"88b38cc7.e548d8","type":"telegram sender","z":"725879df.541168","name":"show inline keyboard","bot":"ccc4a708.ce4228","x":610.0927658081055,"y":33.63666343688965,"wires":[["8c7376ab.8a7188"]]},{"id":"fb1406b1.22f2b","type":"function","z":"725879df.541168","name":"initial inline keyboard message","func":"context.global.keyboard = { pending : true, messageId : msg.payload.messageId };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Yes\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Do you want to hide the inline keyboard?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":349.09259033203125,"y":34.63658142089844,"wires":[["88b38cc7.e548d8"]]},{"id":"f4d19192.b8d318","type":"telegram command","z":"725879df.541168","name":"/foo","command":"/foo","bot":"ccc4a708.ce4228","x":130.09265899658203,"y":40.636563301086426,"wires":[["fb1406b1.22f2b"],[]]},{"id":"930a454f.61d89","type":"function","z":"725879df.541168","name":"evaluate callback query","func":"// This is a sample switch to demonstrate the handling of the user input.\nif(msg.payload.content === \"FOO YES REALLY\")\n{\n    // Hide the keyboard and forget the messageId\n    msg.payload.type = 'deleteMessage';\n    msg.payload.options = context.global.keyboard.messageId\n    context.global.keyboard.messageId = null;\n    \n    // You could also send a editMessageReplyMarkup with an empty reply_markup here\n    return [ null, msg ];\n}\nelse\n{\n    var show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n    \n    // msg.payload.content contains the callback data from the keyboard.\n    // You may change this value here.\n    msg.payload.options = show_alert;\n    \n    return [ msg, null ];\n}","outputs":"2","noerr":0,"x":496.0926818847656,"y":168.66432571411133,"wires":[["84805f56.4a22c"],["84805f56.4a22c"]]},{"id":"84805f56.4a22c","type":"telegram sender","z":"725879df.541168","name":"answer callback query","bot":"ccc4a708.ce4228","x":840.0926666259766,"y":99.66436386108398,"wires":[[]]},{"id":"ac59f8ff.5ef0a8","type":"function","z":"725879df.541168","name":"edit inline keyboard message","func":"// This is the message id of the initial keyboard that is simply exchanged by a new one.\nvar messageId = context.global.keyboard.messageId;\n\n// This is a sample of how to send a second inline keyboard with modified buttons\nvar reply_markup = JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Are you really sure?\",\n                    \"callback_data\": \"FOO YES REALLY\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  });\n\n\nvar options = {\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageReplyMarkup';\nmsg.payload.content = reply_markup;\nmsg.payload.options = options;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":502.3334503173828,"y":101.33336067199707,"wires":[["84805f56.4a22c"]]},{"id":"8c7376ab.8a7188","type":"function","z":"725879df.541168","name":"save messageId","func":"// We store the messageId to be able to edit this reply in the callback query. \ncontext.global.keyboard.messageId = msg.payload.sentMessageId;\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":828.000129699707,"y":34.00006580352783,"wires":[[]]},{"id":"ccc4a708.ce4228","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"Windhose","chatids":""}]