examples/editMessageText.json
[{"id":"edcf10da.82f94","type":"telegram sender","z":"7652eee0.6d11b","name":"send initial message","bot":"5f67fb38.18d094","haserroroutput":false,"outputs":1,"x":642.7594223022461,"y":133.3033103942871,"wires":[["db8e5a96.69f8f8"]]},{"id":"d338f266.95ff8","type":"function","z":"7652eee0.6d11b","name":"original message","func":"msg.payload.type = 'message'\nmsg.payload.content = 'The original message';\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":341.7592468261719,"y":134.3032283782959,"wires":[["edcf10da.82f94"]]},{"id":"8c682765.b34cf8","type":"telegram command","z":"7652eee0.6d11b","name":"/foo","command":"/foo","bot":"5f67fb38.18d094","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":162.75931549072266,"y":140.3032102584839,"wires":[["d338f266.95ff8"]]},{"id":"ad64ec3d.4d2b4","type":"telegram sender","z":"7652eee0.6d11b","name":"","bot":"5f67fb38.18d094","haserroroutput":false,"outputs":1,"x":630,"y":240,"wires":[["3499a9a6.8ae146"]]},{"id":"3dc83d60.7cbcc2","type":"function","z":"7652eee0.6d11b","name":"modified message","func":"var messageId = context.global.messageId;\nvar chatId = context.global.chatId;\n\nvar options = {\n    chat_id : chatId,\n    message_id : messageId\n};\n\nmsg.payload = {\n    type : 'editMessageText',\n    content : \"The modified message\",\n    options : options,\n}\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":350,"y":240,"wires":[["ad64ec3d.4d2b4"]]},{"id":"db8e5a96.69f8f8","type":"function","z":"7652eee0.6d11b","name":"save IDs","func":"// We store the messageId to be able to edit this reply in the callback query. \ncontext.global.messageId = msg.payload.sentMessageId;\ncontext.global.chatId = msg.payload.chatId;\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":840.6667861938477,"y":133.6667127609253,"wires":[[]]},{"id":"3499a9a6.8ae146","type":"debug","z":"7652eee0.6d11b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"b55fa9d6.a7e438","type":"inject","z":"7652eee0.6d11b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":240,"wires":[["3dc83d60.7cbcc2"]]},{"id":"5f67fb38.18d094","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]