examples/editinlinekeyboard.json
[{"id":"458893d6.631b4c","type":"debug","z":"1f6b5f62.c79df1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":60,"wires":[]},{"id":"2e155e5e.0f0362","type":"catch","z":"1f6b5f62.c79df1","name":"","scope":null,"x":100,"y":60,"wires":[["458893d6.631b4c"]]},{"id":"11143833.c0a4b8","type":"telegram event","z":"1f6b5f62.c79df1","name":"","bot":"45ef79a0.ed7688","event":"callback_query","autoanswer":true,"x":120,"y":180,"wires":[["8af93505.030508","72dc0076.3af99"]]},{"id":"1e8d6483.419ddb","type":"telegram sender","z":"1f6b5f62.c79df1","name":"show inline keyboard","bot":"45ef79a0.ed7688","x":562.7594223022461,"y":113.30331039428711,"wires":[["44b7ff2.fc3c4"]]},{"id":"689e84a8.1443ac","type":"function","z":"1f6b5f62.c79df1","name":"initial inline keyboard message","func":"context.global.keyboard = { pending : true, messageId : msg.payload.messageId };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Yes\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Do you want to hide the inline keyboard?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":301.7592468261719,"y":114.3032283782959,"wires":[["1e8d6483.419ddb"]]},{"id":"a08b1aa8.2e1f88","type":"telegram command","z":"1f6b5f62.c79df1","name":"/foo","command":"/foo","bot":"45ef79a0.ed7688","x":82.75931549072266,"y":120.30321025848389,"wires":[["689e84a8.1443ac"],[]]},{"id":"72dc0076.3af99","type":"function","z":"1f6b5f62.c79df1","name":"evaluate callback query","func":"// This is a sample switch to demonstrate the handling of the user input.\nif(msg.payload.content === \"FOO YES REALLY\")\n{\n    // Hide the keyboard and forget the messageId\n    msg.payload.type = 'deleteMessage';\n    msg.payload.options = context.global.keyboard.messageId\n    context.global.keyboard.messageId = null;\n    \n    // You could also send a editMessageReplyMarkup with an empty reply_markup here\n    return [ null, msg ];\n}\nelse\n{\n    var show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n    \n    // msg.payload.content contains the callback data from the keyboard.\n    // You may change this value here.\n    msg.payload.options = show_alert;\n    \n    return [ msg, null ];\n}","outputs":"2","noerr":0,"x":448.75933837890625,"y":248.3309726715088,"wires":[["7f3ed2ca.2aee8c"],["7f3ed2ca.2aee8c"]]},{"id":"7f3ed2ca.2aee8c","type":"telegram sender","z":"1f6b5f62.c79df1","name":"answer callback query","bot":"45ef79a0.ed7688","x":792.7593231201172,"y":179.33101081848145,"wires":[[]]},{"id":"8af93505.030508","type":"function","z":"1f6b5f62.c79df1","name":"edit inline keyboard message","func":"// This is the message id of the initial keyboard that is simply exchanged by a new one.\nvar messageId = context.global.keyboard.messageId;\n\n// This is a sample of how to send a second inline keyboard with modified buttons\nvar reply_markup = JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Are you really sure?\",\n                    \"callback_data\": \"FOO YES REALLY\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  });\n\n\nvar options = {\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageReplyMarkup';\nmsg.payload.content = reply_markup;\nmsg.payload.options = options;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":455.00010681152344,"y":181.00000762939453,"wires":[["7f3ed2ca.2aee8c"]]},{"id":"44b7ff2.fc3c4","type":"function","z":"1f6b5f62.c79df1","name":"save messageId","func":"// We store the messageId to be able to edit this reply in the callback query. \ncontext.global.keyboard.messageId = msg.payload.sentMessageId;\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":780.6667861938477,"y":113.6667127609253,"wires":[[]]},{"id":"45ef79a0.ed7688","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""}]