examples/errorhandling.json
[{"id":"fbcbaf0f.1a4c3","type":"catch","z":"f86d9fd2.9f14c","name":"","scope":null,"uncaught":false,"x":156,"y":140,"wires":[["dab98e0e.f83fb"]]},{"id":"cc0d5363.33275","type":"telegram sender","z":"f86d9fd2.9f14c","name":"","bot":"b5326aaf.cdbb18","haserroroutput":false,"outputs":1,"x":390,"y":200,"wires":[["8a49c6d5.37ccf8"]]},{"id":"80ba48a1.4af1e8","type":"debug","z":"f86d9fd2.9f14c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"8a49c6d5.37ccf8","type":"debug","z":"f86d9fd2.9f14c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"dab98e0e.f83fb","type":"debug","z":"f86d9fd2.9f14c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":336,"y":140,"wires":[]},{"id":"fc55722d.e837c","type":"inject","z":"f86d9fd2.9f14c","name":"error","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chatId\":\"138708568\",\"type\":\"action\",\"content\":\"This will be handled by the catch-all error node.\"}","payloadType":"json","x":156,"y":200,"wires":[["cc0d5363.33275"]]},{"id":"35318513.23421a","type":"inject","z":"f86d9fd2.9f14c","name":"error","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chatId\":\"138708568\",\"type\":\"action\",\"content\":\"This will be handled by the second output of the sender node.\"}","payloadType":"json","x":156,"y":380,"wires":[["ff53180b.fc6bf8"]]},{"id":"ff53180b.fc6bf8","type":"telegram sender","z":"f86d9fd2.9f14c","name":"","bot":"b5326aaf.cdbb18","haserroroutput":true,"outputs":2,"x":390,"y":380,"wires":[["cfb0ed56.6673"],["80ba48a1.4af1e8"]]},{"id":"cfb0ed56.6673","type":"debug","z":"f86d9fd2.9f14c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"6a07e213.40bd6c","type":"comment","z":"f86d9fd2.9f14c","name":"Example 1: errors are handled in \"catch all\"","info":"","x":256,"y":100,"wires":[]},{"id":"33a85a47.7ed9d6","type":"comment","z":"f86d9fd2.9f14c","name":"Example 2: errors are handled using second output","info":"","x":290,"y":340,"wires":[]},{"id":"8ab80062.2a838","type":"inject","z":"f86d9fd2.9f14c","name":"success","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chatId\":\"138708568\",\"type\":\"message\",\"content\":\"This should be successful.\"}","payloadType":"json","x":160,"y":240,"wires":[["cc0d5363.33275"]]},{"id":"39defe26.6a5382","type":"inject","z":"f86d9fd2.9f14c","name":"success","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chatId\":\"138708568\",\"type\":\"message\",\"content\":\"This should be successful.\"}","payloadType":"json","x":160,"y":420,"wires":[["ff53180b.fc6bf8"]]},{"id":"b5326aaf.cdbb18","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]