examples/externalreceiver2.json
[{"id":"21e19a0e7b231297","type":"telegram receiver","z":"5bf8995c5bcae0bd","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"hasinput":true,"inputs":1,"x":790,"y":320,"wires":[["31b70ebc109e1528"],[]]},{"id":"31b70ebc109e1528","type":"debug","z":"5bf8995c5bcae0bd","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":320,"wires":[]},{"id":"55179d7f45e11a59","type":"http request","z":"5bf8995c5bcae0bd","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":280,"wires":[["d3ea80fac1a34577","21e19a0e7b231297","4907bf64279072ba"]]},{"id":"d3ea80fac1a34577","type":"debug","z":"5bf8995c5bcae0bd","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":260,"wires":[]},{"id":"925ad86cbee184a6","type":"inject","z":"5bf8995c5bcae0bd","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":280,"wires":[["20f92b7829f272e3"]]},{"id":"20f92b7829f272e3","type":"function","z":"5bf8995c5bcae0bd","name":"create request","func":"let offset = flow.get(\"offset\");\nlet timeout = 10;\nlet token = \"<your bot token here>\";\nmsg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot\" + token + \"/getUpdates?offset=\"+offset+\"&timeout=\" + timeout;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["55179d7f45e11a59","13c46adfbf916ea0"]]},{"id":"4907bf64279072ba","type":"function","z":"5bf8995c5bcae0bd","name":"update offset","func":"if(msg.payload.ok === true) {\n    let msgOffset = msg.payload.result.length - 1;\n    if(msgOffset >= 0) {\n        let offset = msg.payload.result[msgOffset].update_id + 1;\n        flow.set(\"offset\", offset);\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":220,"wires":[["20f92b7829f272e3"]]},{"id":"13c46adfbf916ea0","type":"debug","z":"5bf8995c5bcae0bd","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"726a7e63c79777fc","type":"inject","z":"5bf8995c5bcae0bd","name":"Initialization","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":180,"wires":[["04a640784be8d59c"]]},{"id":"04a640784be8d59c","type":"function","z":"5bf8995c5bcae0bd","name":"initialize offset","func":"flow.set(\"offset\", 0)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[[]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"none","addressfamily":"","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]