examples/externalreceiver1.json
[{"id":"2d5c9313bbf6bd50","type":"telegram receiver","z":"f9295af027c7e5e7","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"hasinput":true,"inputs":1,"x":750,"y":560,"wires":[["1b2188ae52d7c9df"],[]]},{"id":"1b2188ae52d7c9df","type":"debug","z":"f9295af027c7e5e7","name":"debug 55","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":560,"wires":[]},{"id":"544b9de355a4db12","type":"inject","z":"f9295af027c7e5e7","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":560,"wires":[["3ad636d773fcffd7"]]},{"id":"3ad636d773fcffd7","type":"function","z":"f9295af027c7e5e7","name":"create sample update","func":"// Note that payload is an array, which means you can inject more than one update at a time.\n// However you can also send single updates as an alternative.\nmsg.payload = [{\n    \"update_id\": 123,\n        \"message\": {\n        \"message_id\": 123,\n            \"from\": {\n            \"id\": 123,\n                \"is_bot\": false,\n                    \"first_name\": \"Bigfoot\",\n                        \"last_name\": \"Yeti\",\n                            \"username\": \"Bigfoot\",\n                                \"language_code\": \"en\"\n        },\n        \"chat\": {\n            \"id\": 123,\n                \"first_name\": \"Bigfoot\",\n                    \"last_name\": \"Yeti\",\n                        \"username\": \"Bigfoot\",\n                            \"type\": \"private\"\n        },\n        \"date\": 1763891508,\n            \"text\": \"Hello guys\"\n    }\n}]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[["2d5c9313bbf6bd50"]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"none","addressfamily":"","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]