examples/forwardmessage.json
[{"id":"2f17b49a.ba9b7c","type":"telegram receiver","z":"ed43e0f7.31d9","name":"","bot":"5f67fb38.18d094","saveDataDir":"","filterCommands":false,"x":150,"y":280,"wires":[["ceb21a7e.1564c8"],[]]},{"id":"981acf13.a4a1b","type":"telegram sender","z":"ed43e0f7.31d9","name":"","bot":"5f67fb38.18d094","haserroroutput":false,"outputs":1,"x":580,"y":280,"wires":[[]]},{"id":"ceb21a7e.1564c8","type":"function","z":"ed43e0f7.31d9","name":"forward","func":"msg.payload.forward = { chatId : -292227168 };\n\nmsg.payload.forward.options = {\n    disable_notification : true\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":280,"wires":[["981acf13.a4a1b"]]},{"id":"5f67fb38.18d094","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]