examples/forwardmessage.json
[{"id":"2f17b49a.ba9b7c","type":"telegram receiver","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","saveDataDir":"","x":180,"y":80,"wires":[["ceb21a7e.1564c8"],[]]},{"id":"981acf13.a4a1b","type":"telegram sender","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","x":610,"y":80,"wires":[[]]},{"id":"ceb21a7e.1564c8","type":"function","z":"8436a552.ae1f78","name":"forward","func":"msg.payload.forward = { chatId : -292227168 };\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["981acf13.a4a1b"]]},{"id":"c3670dce.18aa8","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]