examples/fullPayment.json
[{"id":"c1e99c1e684c75c6","type":"telegram command","z":"9be4ced80898bc38","name":"","command":"/buy","description":"","registercommand":false,"language":"","bot":"3b6bfbc0.423a04","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":250,"y":240,"wires":[["6e79c05f1f72b421"],[]]},{"id":"6e79c05f1f72b421","type":"function","z":"9be4ced80898bc38","name":"send invoice","func":"// Invoice Information see https://core.telegram.org/bots/api#sendinvoice\nmsg.payload.type = \"sendInvoice\";\n\nmsg.payload.content = {\n    chat_id: msg.payload.chatId,\n    title : \"Super Toy\",\n    description : \"The best toy you can buy\",\n    payload : \"secret token\",\n    providerToken : \"\",\n    startParameter : \"1\",\n    currency : \"EUR\", // see https://core.telegram.org/bots/payments#supported-currencies\n    prices : [ {\n        label : \"EUR\",\n        amount : 150 } ], // this is 1.50EUR\n}\n\n// Optional\n// msg.payload.options\n//    provider_data\n//    photo_url\n//    photo_size\n//    photo_width\n//    photo_height\n//    need_name\n//    need_phone_number\n//    need_email\n//    need_shipping_address\n//    send_phone_number_to_provider\n//    send_email_to_provider\n//    is_flexible\n//    disable_notification\n//    reply_to_message_id\n//    reply_markup\n\nmsg.payload.options = {\n    reply_to_message_id : msg.payload.messageId,\n    need_name : true,\n    need_phone_number : true,\n    need_email : true,\n    is_flexible : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":473,"y":235,"wires":[["9eba5139a6290278"]]},{"id":"9eba5139a6290278","type":"telegram sender","z":"9be4ced80898bc38","name":"","bot":"3b6bfbc0.423a04","haserroroutput":false,"outputs":1,"x":813,"y":355,"wires":[["b7d8bfbd3c2d5544"]]},{"id":"3a38d201cabf7530","type":"telegram event","z":"9be4ced80898bc38","name":"","bot":"3b6bfbc0.423a04","event":"pre_checkout_query","autoanswer":false,"x":213,"y":395,"wires":[["3b1a9cc9b8bec6fd"]]},{"id":"3b1a9cc9b8bec6fd","type":"function","z":"9be4ced80898bc38","name":"answer checkout","func":"// Invoice Information see https://core.telegram.org/bots/api#answerprecheckoutquery\nmsg.payload.type = \"answerPreCheckoutQuery\";\nmsg.payload.ok = true;\n\nmsg.payload.options = {\n    error_message : \"Product not available anymore!\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":493,"y":395,"wires":[["9eba5139a6290278"]]},{"id":"b7d8bfbd3c2d5544","type":"debug","z":"9be4ced80898bc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1013,"y":355,"wires":[]},{"id":"7d30bf4b205b4688","type":"function","z":"9be4ced80898bc38","name":"thank you","func":"// see https://core.telegram.org/bots/api#successfulpayment\nif (msg.payload.type === \"successful_payment\") {\n  msg.payload.type = \"message\";\n  msg.payload.content = \"Thank you for your purchase!\";\n  return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":463,"y":475,"wires":[["9eba5139a6290278"]]},{"id":"ec106c52406d90c4","type":"telegram receiver","z":"9be4ced80898bc38","name":"","bot":"3b6bfbc0.423a04","saveDataDir":"","filterCommands":false,"x":211,"y":482,"wires":[["7d30bf4b205b4688"],[]]},{"id":"f1f7423339fe2b41","type":"telegram event","z":"9be4ced80898bc38","name":"","bot":"3b6bfbc0.423a04","event":"shipping_query","autoanswer":false,"x":223,"y":315,"wires":[["5dc2d7956ef1f3b8"]]},{"id":"5dc2d7956ef1f3b8","type":"function","z":"9be4ced80898bc38","name":"answer shipping","func":"// Invoice Information see https://core.telegram.org/bots/api#answershippingquery\nmsg.payload.type = \"answerShippingQuery\";\nmsg.payload.ok = true;\n\nmsg.payload.options = {\n    error_message : \"We cannot deliver to your address\",\n    shipping_options: [\n      {\n        id: \"shipping\",\n        title: \"Shipping by seller\",\n        prices: [\n          { label: \"Shipping by seller 1\", amount: 500 },\n          { label: \"Shipping by seller 2\", amount: 500 }\n        ]\n      },\n      {\n        id: \"takeaway\",\n        title: \"Take away\",\n        prices: [{ label: \"-Take away\", amount: 0 }]\n      }\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":483,"y":315,"wires":[["9eba5139a6290278"]]},{"id":"cd72378f9b8715b8","type":"comment","z":"9be4ced80898bc38","name":"Payment Example","info":"In order to be able to run the example you must set the providerToken in the \"send invoice\" node.\nsee also https://core.telegram.org/bots/api#sendinvoice","x":220,"y":180,"wires":[]},{"id":"3b6bfbc0.423a04","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]