examples/getfile.json
[{"id":"56385912acc6a6ba","type":"telegram receiver","z":"ec1cf3fd9654e7e5","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"x":190,"y":220,"wires":[["c570b04911862843","3f26294392ed5771"],[]]},{"id":"c7d66fca7bbfef5b","type":"telegram sender","z":"ec1cf3fd9654e7e5","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":750,"y":220,"wires":[["4321b804e33f0b4a"]]},{"id":"4321b804e33f0b4a","type":"debug","z":"ec1cf3fd9654e7e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":220,"wires":[]},{"id":"3f26294392ed5771","type":"function","z":"ec1cf3fd9654e7e5","name":"get info about first photo manually","func":"if(msg.payload.type === 'photo'){\n    \n    // manually download the first photo using the fileId.\n    msg.payload.gefile = {\n        fileId : msg.payload.photos[0].file_id,\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["c7d66fca7bbfef5b"]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks5","socksport":"1080","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]