examples/inlinekeyboard.json
[{"id":"a18dc3fa.71502","type":"debug","z":"8436a552.ae1f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":260,"wires":[]},{"id":"a9816fa8.102ee","type":"catch","z":"8436a552.ae1f78","name":"","scope":null,"x":160,"y":260,"wires":[["a18dc3fa.71502"]]},{"id":"9666af3d.3da7e","type":"telegram event","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","event":"callback_query","autoanswer":true,"x":180,"y":320,"wires":[["92ee3303.4cd04"]]},{"id":"78034690.513038","type":"telegram sender","z":"8436a552.ae1f78","name":"show inline keyboard","bot":"c3670dce.18aa8","x":720,"y":400,"wires":[[]]},{"id":"74e8cf35.a5ba8","type":"function","z":"8436a552.ae1f78","name":"inline keyboard message","func":"var opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Yes\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Are you sure?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":450,"y":400,"wires":[["78034690.513038"]]},{"id":"67692ad7.9de0d4","type":"telegram command","z":"8436a552.ae1f78","name":"/foo","command":"/foo","bot":"c3670dce.18aa8","strict":false,"hasresponse":false,"x":150,"y":400,"wires":[["74e8cf35.a5ba8"]]},{"id":"92ee3303.4cd04","type":"function","z":"8436a552.ae1f78","name":"set  answer options","func":"var show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n\n// msg.payload.content contains the callback data from the keyboard.\n// You may change this value here.\nmsg.payload.options = show_alert;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":430,"y":320,"wires":[["18bd53db.5ba47c"]]},{"id":"18bd53db.5ba47c","type":"telegram sender","z":"8436a552.ae1f78","name":"answer callback query","bot":"c3670dce.18aa8","x":720,"y":320,"wires":[[]]},{"id":"c3670dce.18aa8","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]