examples/inlinekeyboard.json
[{"id":"d80be03c.8de2","type":"telegram callback_query","z":"725879df.541168","name":"","command":"","bot":"ccc4a708.ce4228","x":218.2523193359375,"y":264.69676780700684,"wires":[["71bb0ad7.da4f24"]]},{"id":"8662a475.802878","type":"telegram sender","z":"725879df.541168","name":"show inline keyboard","bot":"ccc4a708.ce4228","x":759.0115737915039,"y":329.99999046325684,"wires":[[]]},{"id":"5b918720.41fe88","type":"function","z":"725879df.541168","name":"inline keyboard message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Yes\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Are you sure?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":492.01148986816406,"y":330.9999294281006,"wires":[["8662a475.802878"]]},{"id":"5c8040fc.25fcf","type":"telegram command","z":"725879df.541168","name":"/foo","command":"/foo","bot":"ccc4a708.ce4228","x":157.01156616210938,"y":336.9999465942383,"wires":[["5b918720.41fe88"],[]]},{"id":"71bb0ad7.da4f24","type":"function","z":"725879df.541168","name":"set  answer options","func":"var show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n\n// msg.payload.content contains the callback data from the keyboard.\n// You may change this value here.\nmsg.payload.options = show_alert;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":471.0115852355957,"y":263.0277328491211,"wires":[["1829128.7fa2dee"]]},{"id":"1829128.7fa2dee","type":"telegram sender","z":"725879df.541168","name":"answer callback query","bot":"ccc4a708.ce4228","x":755.0116119384766,"y":262.02775382995605,"wires":[[]]},{"id":"ccc4a708.ce4228","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":""}]