examples/inlinequery.json
[{"id":"5fb5e66e.d8ebe8","type":"debug","z":"1f6b5f62.c79df1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":40,"wires":[]},{"id":"ebf5edfa.8c331","type":"catch","z":"1f6b5f62.c79df1","name":"","scope":null,"x":100,"y":40,"wires":[["5fb5e66e.d8ebe8"]]},{"id":"65b3afb9.8d92","type":"telegram event","z":"1f6b5f62.c79df1","name":"","bot":"45ef79a0.ed7688","event":"inline_query","autoanswer":true,"x":110,"y":100,"wires":[["c7f9eaaa.0207c8"]]},{"id":"c7f9eaaa.0207c8","type":"function","z":"1f6b5f62.c79df1","name":"create results","func":"// we have to set the results propery with the answer(s)\n// see https://core.telegram.org/bots/api#inlinequeryresult\nvar results = [\n    // result 1 is InlineQueryResultArticle\n    {\n        type : \"article\",\n        id : \"1\",\n        title : \"Result 1\",\n        \n        // InputTextMessageContent see https://core.telegram.org/bots/api#inputmessagecontent\n        input_message_content : {\n            message_text : \"The message 1\",\n            parse_mode : \"Markdown\",\n            disable_web_page_preview : true\n        }\n    },\n    \n    // result 2 is InlineQueryResultArticle\n    {\n        type : \"article\",\n        id : \"2\",\n        title : \"Result 2\",\n        \n        // InputTextMessageContent see https://core.telegram.org/bots/api#inputmessagecontent\n        input_message_content : {\n            message_text : \"The message 2\",\n            parse_mode : \"Markdown\",\n            disable_web_page_preview : false\n        }\n    }\n    ];\n\n\nmsg.payload.results = results;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["2c870509.1e08ca"]]},{"id":"2c870509.1e08ca","type":"telegram sender","z":"1f6b5f62.c79df1","name":"","bot":"45ef79a0.ed7688","x":590,"y":100,"wires":[[]]},{"id":"45ef79a0.ed7688","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""}]