examples/inlinequery.json
[{"id":"5fb5e66e.d8ebe8","type":"debug","z":"d6bf7c08c7c5fdba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"ebf5edfa.8c331","type":"catch","z":"d6bf7c08c7c5fdba","name":"","scope":null,"x":380,"y":180,"wires":[["5fb5e66e.d8ebe8"]]},{"id":"65b3afb9.8d92","type":"telegram event","z":"d6bf7c08c7c5fdba","name":"","bot":"65ca12172854cc2d","event":"inline_query","autoanswer":true,"x":390,"y":240,"wires":[["c7f9eaaa.0207c8"]]},{"id":"c7f9eaaa.0207c8","type":"function","z":"d6bf7c08c7c5fdba","name":"create results","func":"// we have to set the results propery with the answer(s)\n// see https://core.telegram.org/bots/api#inlinequeryresult\nvar results = [\n    // result 1 is InlineQueryResultArticle\n    {\n        type : \"article\",\n        id : \"1\",\n        title : \"Result 1\",\n        \n        // InputTextMessageContent see https://core.telegram.org/bots/api#inputmessagecontent\n        input_message_content : {\n            message_text : \"The message 1\",\n            parse_mode : \"Markdown\",\n            link_preview_options: { is_disabled: true }\n        }\n    },\n    \n    // result 2 is InlineQueryResultArticle\n    {\n        type : \"article\",\n        id : \"2\",\n        title : \"Result 2\",\n        \n        // InputTextMessageContent see https://core.telegram.org/bots/api#inputmessagecontent\n        input_message_content : {\n            message_text : \"The message 2\",\n            parse_mode : \"Markdown\",\n            link_preview_options: { is_disabled: false }\n        }\n    }\n    ];\n\n\nmsg.payload.results = results;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":240,"wires":[["2c870509.1e08ca"]]},{"id":"2c870509.1e08ca","type":"telegram sender","z":"d6bf7c08c7c5fdba","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":870,"y":240,"wires":[[]]},{"id":"f1a03cb465023968","type":"comment","z":"d6bf7c08c7c5fdba","name":"","info":"For this flow to work you have to turn on inline mode in botfather. \nThen type your @BotName \nand then the inline query results should pop up","x":380,"y":100,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"4","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]