examples/keyboard.json
[{"id":"6e736957.f8ede8","type":"catch","z":"8436a552.ae1f78","name":"","x":180,"y":440,"wires":[["124b56b6.b8c629"]]},{"id":"124b56b6.b8c629","type":"debug","z":"8436a552.ae1f78","name":"Debug","active":true,"console":"false","complete":"payload","x":652,"y":436,"wires":[]},{"id":"99632dcb.1cf53","type":"telegram sender","z":"8436a552.ae1f78","name":"show keyboard","bot":"c3670dce.18aa8","x":666,"y":265,"wires":[[]]},{"id":"eed44ccc.0a0fb","type":"function","z":"8436a552.ae1f78","name":"confirmation message","func":"var opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Yes'],\n      ['No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":400,"y":265,"wires":[["99632dcb.1cf53"]]},{"id":"fa5d751b.da0278","type":"telegram command","z":"8436a552.ae1f78","name":"/foo","command":"/foo","bot":"c3670dce.18aa8","strict":false,"hasresponse":true,"x":180,"y":292,"wires":[["eed44ccc.0a0fb"],["2a436a7e.6a7036"]]},{"id":"2a436a7e.6a7036","type":"function","z":"8436a552.ae1f78","name":"create response","func":"if(msg.payload.content === 'Yes')\n{\n    msg.payload.content = 'Yes';\n    return [msg, null];   \n}\nelse\n{\n    msg.payload.content = 'No';\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":384,"y":324,"wires":[["add834fb.deaef8"],["124b56b6.b8c629"]]},{"id":"add834fb.deaef8","type":"telegram sender","z":"8436a552.ae1f78","name":"send response","bot":"c3670dce.18aa8","x":670,"y":318,"wires":[[]]},{"id":"c3670dce.18aa8","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]