examples/noauthcommand_login.json
[{"id":"5f8976e0.1b3248","type":"telegram command","z":"5ee6bd01.28faa4","name":"","command":"/login","bot":"e84499ee.ca03c8","strict":false,"hasresponse":true,"multiresponse":false,"noauth":true,"x":1510,"y":4780,"wires":[["526e7efe.27b27"],["dbb802cf.eb87c"]]},{"id":"526e7efe.27b27","type":"function","z":"5ee6bd01.28faa4","name":"intro","func":"var username = msg.originalMessage.from.username;\nmsg.payload.type = \"message\";\nmsg.payload.content = \"Please insert the password!\";\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":4760,"wires":[["ee35bdc7.b7304"]],"outputLabels":["already loged in","not loged in yet"]},{"id":"ee35bdc7.b7304","type":"telegram sender","z":"5ee6bd01.28faa4","name":"","bot":"22516488.21949c","x":1830,"y":4780,"wires":[[]]},{"id":"dbb802cf.eb87c","type":"function","z":"5ee6bd01.28faa4","name":"auth","func":"var password = (msg.payload.content || \"\").trim();\nvar username = msg.originalMessage.from.username;\n\nmsg.payload.type = \"message\";\n\n// success\nif (password === \"123\") {\n    \n    var config = global.get(\"TelegramBotConfig\") || {};\n    msg.payload.content = \"Correct! Welcome...\";\n    \n    if (!config.users) {\n        config.users = [];\n    }\n    \n    if (config.users.indexOf(username) === -1) {\n        config.users.push(username);\n        global.set(\"TelegramBotConfig\", config);\n    }\n}\n\n// wrong password\nelse {\n    msg.payload.content = \"Nope... thats not correct!\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1650,"y":4800,"wires":[["ee35bdc7.b7304"]],"outputLabels":["","users changed"]},{"id":"e84499ee.ca03c8","type":"telegram bot","z":"","botname":"Dummy Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"22516488.21949c","type":"telegram bot","z":"","botname":"Dummy","usernames":"{global.get(\"TelegramBotConfig\").users}","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]