examples/onreplymessage.json
[{"id":"f0f40237.40f438","type":"function","z":"117ca2b6.9952d5","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":290,"y":3480,"wires":[["7705422f.822834"]]},{"id":"4c7274da.77331c","type":"telegram command","z":"117ca2b6.9952d5","name":"/foo","command":"/foo","bot":"d086776c.7de82","strict":false,"hasresponse":false,"x":110,"y":3480,"wires":[["f0f40237.40f438"]]},{"id":"7705422f.822834","type":"telegram sender","z":"117ca2b6.9952d5","name":"send question","bot":"d086776c.7de82","x":500,"y":3480,"wires":[["b84786d5.195848"]]},{"id":"b84786d5.195848","type":"telegram reply","z":"117ca2b6.9952d5","name":"get reply","bot":"d086776c.7de82","x":675,"y":3480,"wires":[["29d8ebcb.f400fc"]]},{"id":"29d8ebcb.f400fc","type":"function","z":"117ca2b6.9952d5","name":"switch answer","func":"if(msg.payload.content === 'Yes')\n{\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":847,"y":3480,"wires":[["6a50edd.6235114"],["b599b2a2.4b0278"]]},{"id":"6a50edd.6235114","type":"debug","z":"117ca2b6.9952d5","name":"Yes","active":true,"console":"false","complete":"payload","x":1050,"y":3460,"wires":[]},{"id":"b599b2a2.4b0278","type":"debug","z":"117ca2b6.9952d5","name":"No","active":true,"console":"false","complete":"payload","x":1050,"y":3500,"wires":[]},{"id":"d086776c.7de82","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
