examples/pinningMultipleMessages.json
[{"id":"46b012eb.3634bc","type":"telegram sender","z":"ed43e0f7.31d9","name":"","bot":"fcc25e57.4073a","haserroroutput":false,"outputs":1,"x":430,"y":120,"wires":[["90c8183c.df50d8"]]},{"id":"edd05cdc.ccba7","type":"inject","z":"ed43e0f7.31d9","name":"Pin 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Pinned 1","payloadType":"str","x":90,"y":120,"wires":[["62a75af3.7db694"]]},{"id":"239ac48e.7aaafc","type":"function","z":"ed43e0f7.31d9","name":"unpin","func":"var chatId = flow.get(\"chatId\");\n\nvar message_id = flow.get(\"message1\");\nvar options = {};\noptions = {\n    message_id : message_id,\n    chat_id : chatId\n};\n\nvar payload = {\n    type: \"unpinChatMessage\",\n    chatId: chatId,\n    content: options\n}\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":300,"wires":[["14e472e9.7fd11d"]]},{"id":"d14be332.4bb58","type":"inject","z":"ed43e0f7.31d9","name":"Unpin 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"1","payloadType":"num","x":90,"y":300,"wires":[["239ac48e.7aaafc"]]},{"id":"90c8183c.df50d8","type":"function","z":"ed43e0f7.31d9","name":"pin","func":"var chatId = flow.get(\"chatId\");\n\nvar message_id = msg.payload.sentMessageId;\nflow.set(\"message1\", message_id);\n\nvar payload = {\n    type: \"pinChatMessage\",\n    chatId: chatId,\n    content: message_id\n}\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":120,"wires":[["14e472e9.7fd11d"]]},{"id":"62a75af3.7db694","type":"function","z":"ed43e0f7.31d9","name":"send message","func":"var chatId = flow.get(\"chatId\");\n\nvar message = msg.payload;\n\nvar payload = {\n    type: \"message\",\n    chatId: chatId,\n    content: message\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":120,"wires":[["46b012eb.3634bc"]]},{"id":"2dd330e0.b9c11","type":"inject","z":"ed43e0f7.31d9","name":"Unpin 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"2","payloadType":"num","x":90,"y":360,"wires":[["55e710fd.20302"]]},{"id":"d3f18224.5a203","type":"telegram sender","z":"ed43e0f7.31d9","name":"","bot":"fcc25e57.4073a","haserroroutput":false,"outputs":1,"x":430,"y":180,"wires":[["d941af35.b1ebe"]]},{"id":"96833547.618ac8","type":"inject","z":"ed43e0f7.31d9","name":"Pin 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Pinned 2","payloadType":"str","x":90,"y":180,"wires":[["b9efb76b.987648"]]},{"id":"d941af35.b1ebe","type":"function","z":"ed43e0f7.31d9","name":"pin","func":"var chatId = flow.get(\"chatId\");\n\nvar message_id = msg.payload.sentMessageId;\nflow.set(\"message2\", message_id);\n\nvar payload = {\n    type: \"pinChatMessage\",\n    chatId: chatId,\n    content: message_id\n}\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":180,"wires":[["14e472e9.7fd11d"]]},{"id":"b9efb76b.987648","type":"function","z":"ed43e0f7.31d9","name":"send message","func":"var chatId = flow.get(\"chatId\");\n\nvar message = msg.payload;\n\nvar payload = {\n    type: \"message\",\n    chatId: chatId,\n    content: message\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":180,"wires":[["d3f18224.5a203"]]},{"id":"14e472e9.7fd11d","type":"telegram sender","z":"ed43e0f7.31d9","name":"","bot":"fcc25e57.4073a","haserroroutput":false,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"55e710fd.20302","type":"function","z":"ed43e0f7.31d9","name":"unpin","func":"var chatId = flow.get(\"chatId\");\n\nvar message_id = flow.get(\"message2\");\nvar options = {};\noptions = {\n    message_id : message_id,\n    chat_id : chatId\n};\n\nvar payload = {\n    type: \"unpinChatMessage\",\n    chatId: chatId,\n    content: options\n}\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":360,"wires":[["14e472e9.7fd11d"]]},{"id":"e25b5de9.7e1ca","type":"inject","z":"ed43e0f7.31d9","name":"once","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"-1001456177533","payloadType":"num","x":100,"y":40,"wires":[["fe6d2966.bcc568"]]},{"id":"fe6d2966.bcc568","type":"function","z":"ed43e0f7.31d9","name":"set chatId","func":"flow.set(\"chatId\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":40,"wires":[[]]},{"id":"fcc25e57.4073a","type":"telegram bot","botname":"TestBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]