examples/receivinglocation.json
[{"id":"7654a517.757b84","type":"telegram event","z":"d6bf7c08c7c5fdba","name":"live location receiver","bot":"65ca12172854cc2d","event":"edited_message","autoanswer":"","x":330,"y":160,"wires":[["365556c8.2d4362"]]},{"id":"365556c8.2d4362","type":"function","z":"d6bf7c08c7c5fdba","name":"create location message","func":"if(msg.payload.location)\n{\n    var lat = msg.payload.location.latitude;\n    var lng = msg.payload.location.longitude;\n    var user = msg.payload.from.username;\n    \n    msg.payload.type = 'message';\n    msg.payload.content = user + ' moved to lat=' + lat + ' lon=' + lng;\n    \n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":160,"wires":[["52bfdfbd8fec4123"]]},{"id":"52bfdfbd8fec4123","type":"debug","z":"d6bf7c08c7c5fdba","name":"debug 73","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":160,"wires":[]},{"id":"22d75476f74e353a","type":"comment","z":"d6bf7c08c7c5fdba","name":"","info":"Share your location with the bot and it can be received via \"Edited Message\"","x":300,"y":100,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"4","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]