examples/replytomessage.json
[{"id":"bcd88438.e77e68","type":"telegram receiver","z":"c513a2fb.133e3","name":"","bot":"19f02f8b.fa0c5","saveDataDir":"","x":150,"y":80,"wires":[["d518a4a2.1bded8"],[]]},{"id":"ba1931f2.6acf9","type":"telegram sender","z":"c513a2fb.133e3","name":"","bot":"19f02f8b.fa0c5","x":630,"y":80,"wires":[[]]},{"id":"d518a4a2.1bded8","type":"function","z":"c513a2fb.133e3","name":"reply to message","func":"var opts = {\n  reply_to_message_id: msg.payload.messageId\n};\n\nmsg.payload.content = 'I received your message';\nmsg.payload.options = opts;\n\nreturn msg;\n","outputs":"1","noerr":0,"x":370,"y":60,"wires":[["ba1931f2.6acf9"]]},{"id":"19f02f8b.fa0c5","type":"telegram bot","z":"c513a2fb.133e3","botname":"HeinzBot","usernames":"Windhose","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"188.40.170.80","socksport":"1080","socksusername":"anonymous","sockspassword":"none","bothost":"ihive.spdns.de","localbotport":"","publicbotport":"","privatekey":"C:\\\\Temp\\\\SSL\\\\PRIVATE.key","certificate":"C:\\\\Temp\\\\SSL\\\\PUBLIC.pem","useselfsignedcertificate":true,"verboselogging":true}]