examples/senddice.json
[{"id":"44baff779a3bd309","type":"telegram sender","z":"312066c9ad97fb02","name":"","bot":"3b6bfbc0.423a04","haserroroutput":false,"outputs":1,"x":630,"y":80,"wires":[[]]},{"id":"402cdb75652dcb0c","type":"function","z":"312066c9ad97fb02","name":"roll the dice","func":"msg.payload.type = \"dice\";\n\nlet min = 1;\nlet max = 6;\nlet value = Math.floor(Math.random() * (max - min + 1) + min);\nmsg.payload.content = {\n    emoji : \"🎲\",\n    value : value\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":80,"wires":[["44baff779a3bd309"]]},{"id":"7792329629a4e33b","type":"telegram command","z":"312066c9ad97fb02","name":"roll the dice","command":"/roll","description":"","registercommand":false,"language":"","scope":"default","bot":"3b6bfbc0.423a04","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":80,"wires":[["402cdb75652dcb0c"],[]]},{"id":"3b6bfbc0.423a04","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]