examples/sendhelpmessage.json
[{"id":"7ae934e9.94a1d4","type":"telegram command","z":"b7fa06fe.1d0608","name":"/help","command":"/help","bot":"2db9661a.cf3b0a","strict":false,"hasresponse":false,"x":190,"y":60,"wires":[["11b04bce.b00ed4"]]},{"id":"11b04bce.b00ed4","type":"function","z":"b7fa06fe.1d0608","name":"create help text","func":"var helpMessage = \"/help - shows help\";\n\nhelpMessage += \"\\r\\n/foo - opens a dialog\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\nYou are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\nYour chat id is \" + msg.payload.chatId;\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":60,"wires":[["2b5fd25.13e2c2e"]]},{"id":"2b5fd25.13e2c2e","type":"telegram sender","z":"b7fa06fe.1d0608","name":"send response","bot":"2db9661a.cf3b0a","x":620,"y":60,"wires":[[]]},{"id":"2db9661a.cf3b0a","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
