examples/sendtotopic.json
[{"id":"7698c9e0dd353093","type":"telegram sender","z":"d6bf7c08c7c5fdba","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":730,"y":140,"wires":[[]]},{"id":"c832534442939a04","type":"function","z":"d6bf7c08c7c5fdba","name":"General","func":"var message = 'Test Message in General';\nmsg.payload = { chatId: -1001179754637, type : 'message', content : message};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":429,"y":138.0000228881836,"wires":[["7698c9e0dd353093"]]},{"id":"3384c5256d23d9ee","type":"inject","z":"d6bf7c08c7c5fdba","name":"Trigger","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":279,"y":138.0000228881836,"wires":[["c832534442939a04"]]},{"id":"0cbc33f5ba35083d","type":"function","z":"d6bf7c08c7c5fdba","name":"Other Topic","func":"var message = 'Test Message in Other Topic';\nmsg.payload = { chatId: -000000000000, type : 'message', content : message};\n\nmsg.payload.options = {\n                        message_thread_id: 14,\n                        };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["7698c9e0dd353093"]]},{"id":"d968b9aaee0f7034","type":"inject","z":"d6bf7c08c7c5fdba","name":"Trigger","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":280,"y":200,"wires":[["0cbc33f5ba35083d"]]},{"id":"dcab473cfdb68a05","type":"comment","z":"d6bf7c08c7c5fdba","name":"","info":"You must enable topics in the group.\nThen add the bot to the group.\nTurn off privacy mode of bot so that it can receive messages from groups.\nFind out the id of the topic by sending a message and note the chatId from the received message.","x":280,"y":60,"wires":[]},{"id":"4b49223cd17fdd9c","type":"telegram receiver","z":"d6bf7c08c7c5fdba","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"hasinput":false,"inputs":0,"handleallupdates":false,"handleprocessupdates":false,"x":290,"y":320,"wires":[["522fbf9c204ad484"],[]]},{"id":"522fbf9c204ad484","type":"debug","z":"d6bf7c08c7c5fdba","name":"debug 73","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":320,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"4","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]