examples/sendtotopic.json
[{"id":"7698c9e0dd353093","type":"telegram sender","z":"066f4fb0d4219c61","name":"","bot":"39c2553806e29aae","haserroroutput":false,"outputs":1,"x":720,"y":3020,"wires":[[]]},{"id":"c832534442939a04","type":"function","z":"066f4fb0d4219c61","name":"General","func":"var message = 'Test Message in General';\nmsg.payload = { chatId: -000000000000, type : 'message', content : message};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":419,"y":3018.0000228881836,"wires":[["7698c9e0dd353093"]]},{"id":"3384c5256d23d9ee","type":"inject","z":"066f4fb0d4219c61","name":"Trigger","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":269,"y":3018.0000228881836,"wires":[["c832534442939a04"]]},{"id":"0cbc33f5ba35083d","type":"function","z":"066f4fb0d4219c61","name":"Other Topic","func":"var message = 'Test Message in Other Topic';\nmsg.payload = { chatId: -000000000000, type : 'message', content : message};\n\nmsg.payload.options = {\n                        message_thread_id: 14,\n                        };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":3080,"wires":[["7698c9e0dd353093"]]},{"id":"d968b9aaee0f7034","type":"inject","z":"066f4fb0d4219c61","name":"Trigger","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":270,"y":3080,"wires":[["0cbc33f5ba35083d"]]},{"id":"39c2553806e29aae","type":"telegram bot","z":"066f4fb0d4219c61","botname":"HeinzBot","usernames":"","chatids":""}]
