examples/senddocumenttochat.json
[{"id":"46b012eb.3634bc","type":"telegram sender","z":"ed43e0f7.31d9","name":"","bot":"fcc25e57.4073a","haserroroutput":false,"outputs":1,"x":510,"y":120,"wires":[["dbe8656.f963498"]]},{"id":"edd05cdc.ccba7","type":"inject","z":"ed43e0f7.31d9","name":"send csv string","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"a, b, c, d","payloadType":"str","x":120,"y":120,"wires":[["62a75af3.7db694"]]},{"id":"62a75af3.7db694","type":"function","z":"ed43e0f7.31d9","name":"send document","func":"var chatId = flow.get(\"chatId\");\n\nvar doc = Buffer.from(msg.payload);\n\nvar fileOptions = {\n    filename : \"foo.csv\",\n    contentType : \"text/csv\"\n}\n\nvar payload = {\n    type: \"document\",\n    chatId: chatId,\n    content: doc,\n    fileOptions : fileOptions\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["46b012eb.3634bc"]]},{"id":"e25b5de9.7e1ca","type":"inject","z":"ed43e0f7.31d9","name":"once","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"-1001456177533","payloadType":"num","x":100,"y":40,"wires":[["fe6d2966.bcc568"]]},{"id":"fe6d2966.bcc568","type":"function","z":"ed43e0f7.31d9","name":"set chatId","func":"flow.set(\"chatId\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":40,"wires":[[]]},{"id":"dbe8656.f963498","type":"debug","z":"ed43e0f7.31d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":120,"wires":[]},{"id":"fcc25e57.4073a","type":"telegram bot","botname":"TestBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]