examples/sendmediagroup.json
[{"id":"409e1419.30961c","type":"telegram receiver","z":"3068ac13.951064","name":"","bot":"6cc03fc7.9b8fb","saveDataDir":"c:\\Temp","x":119,"y":132,"wires":[["fdc09042.ec252"],[]]},{"id":"43b875cb.e6353c","type":"telegram sender","z":"3068ac13.951064","name":"","bot":"6cc03fc7.9b8fb","x":470,"y":43,"wires":[[]]},{"id":"f4383c1b.82d6f","type":"telegram command","z":"3068ac13.951064","name":"","command":"/send","bot":"6cc03fc7.9b8fb","strict":false,"x":79.5,"y":50,"wires":[["a93a639a.b8a88"],[]]},{"id":"fdc09042.ec252","type":"debug","z":"3068ac13.951064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":322,"y":126,"wires":[]},{"id":"a93a639a.b8a88","type":"function","z":"3068ac13.951064","name":"create media group","func":"// sendMediaGroup example: send  between 2 and 10 media.\n// Note that type can also be video.\n// and the caption property is optional.\n// see https://core.telegram.org/bots/api#inputmediaphoto\n// see https://core.telegram.org/bots/api#inputmediavideo\n\nmsg.payload.type = \"mediaGroup\";\nmsg.payload.content = [\n    {\n        type : \"photo\",\n        media : \"c:\\\\Temp\\\\1.jpg\",\n        caption : \"Photo 1\"\n    },\n    {\n        type : \"photo\",\n        media : \"c:\\\\Temp\\\\2.jpg\",\n        caption : \"Photo 2\"\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":43,"wires":[["43b875cb.e6353c"]]},{"id":"6cc03fc7.9b8fb","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"Windhose","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]
