examples/sendcontacttochat.json
[{"id":"7bf5e4e9.495b74","type":"telegram sender","z":"c8b50aaa.e632d","name":"","bot":"233d0697.0c2c6a","x":650,"y":860,"wires":[[]]},{"id":"a35c4e19.9ed248","type":"function","z":"c8b50aaa.e632d","name":"contact","func":"msg.payload =\n{\n    chatId : 12345,\n    type : \"contact\",\n    content :\n    {\n        phone_number: \"+49 30 987654321\",\n        first_name: \"Max\",\n        last_name: \"Mustermann\"\n    },\n    options :\n    {\n        disable_notification : true\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":459.66669845581055,"y":860.3333539962769,"wires":[["7bf5e4e9.495b74"]]},{"id":"b9f0a60f.c5efb8","type":"inject","z":"c8b50aaa.e632d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":281.66668701171875,"y":859.6667280197144,"wires":[["a35c4e19.9ed248"]]},{"id":"233d0697.0c2c6a","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":""}]
