examples/sendphotobuffer.json
[{"id":"99ee972c.22d088","type":"telegram sender","z":"d6bf7c08c7c5fdba","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":830,"y":160,"wires":[["72b71335.355a9c"]]},{"id":"58e78fc.dd0b27","type":"telegram command","z":"d6bf7c08c7c5fdba","name":"/fromfile","command":"/fromfile","description":"","registercommand":false,"language":"","bot":"65ca12172854cc2d","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":110,"y":160,"wires":[["7c8090ca.00c02"]]},{"id":"72b71335.355a9c","type":"debug","z":"d6bf7c08c7c5fdba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":160,"wires":[]},{"id":"2058d729.1a3a48","type":"function","z":"d6bf7c08c7c5fdba","name":"send image","func":"var buffer = msg.payload;\nvar payload = {\n  content: buffer,\n  message: `The requested image`,\n  type : 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id : msg.originalMessage.message_id\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":160,"wires":[["99ee972c.22d088"]]},{"id":"7c8090ca.00c02","type":"file in","z":"d6bf7c08c7c5fdba","name":"image from file","filename":"C:\\temp\\test.jpg","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":400,"y":160,"wires":[["2058d729.1a3a48"]]},{"id":"dec15032.19344","type":"http request","z":"d6bf7c08c7c5fdba","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://picsum.photos/200/300","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":240,"wires":[["2058d729.1a3a48"]]},{"id":"db7296d38fa309cf","type":"telegram command","z":"d6bf7c08c7c5fdba","name":"/frominternet","command":"/frominternet","description":"","registercommand":false,"language":"","bot":"65ca12172854cc2d","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":240,"wires":[["dec15032.19344"]]},{"id":"2da41ceac90ece65","type":"comment","z":"d6bf7c08c7c5fdba","name":"","info":"# Flow demonstrates sending a photo as buffer.\nAs few people do not know that image files can also be sent directly from within memory this example flow was created.\nThe complete description can be found here:\nhttps://core.telegram.org/bots/api#sending-files\n\n## pic1\nFile is loaded from a local file and sent as buffer.\n\n## pic2\nFile is downloaded from internet and directly sent as buffer.\n\nCredits:\nflow was derived from see also:\nhttps://discourse.nodered.org/t/taking-a-picture-and-sending-it-via-telegram/27905/4\n","x":120,"y":80,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"4","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]