examples/sendcontacttochat.json
[{"id":"648c6ebc.8637e8","type":"telegram sender","z":"725879df.541168","name":"","bot":"ccc4a708.ce4228","x":521.5000305175781,"y":261.33334827423096,"wires":[[]]},{"id":"88d27cfb.a968e","type":"function","z":"725879df.541168","name":"contact","func":"msg.payload = \n{\n    chatId : 12345,\n    type : \"contact\",\n    content : \n    {\n        phone_number: \"+49 110\",\n        first_name: \"first\",\n        last_name: \"last\"\n    },\n    options :\n    {\n        disable_notification : true\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":331.1667289733887,"y":261.6667022705078,"wires":[["648c6ebc.8637e8"]]},{"id":"3ab929c7.76bb36","type":"inject","z":"725879df.541168","name":"","topic":"","payload":"","payloadType":"json","repeat":"","crontab":"","once":false,"x":153.16671752929688,"y":261.0000762939453,"wires":[["88d27cfb.a968e"]]},{"id":"ccc4a708.ce4228","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":""}]