examples/sendchataction.json
[{"id":"e76a862e.a03858","type":"telegram receiver","z":"725879df.541168","name":"","bot":"bd029d64.0546a","saveDataDir":"","x":150,"y":140,"wires":[["594c315e.57fec"],[]]},{"id":"cc0d5363.33275","type":"telegram sender","z":"725879df.541168","name":"","bot":"bd029d64.0546a","x":610,"y":140,"wires":[[]]},{"id":"594c315e.57fec","type":"function","z":"725879df.541168","name":"send chat action","func":"// demonstrates sending a chat action (see https://core.telegram.org/bots/api#sendchataction)\nvar type = msg.payload.type;\nmsg.payload.type = \"action\";\n\nswitch(type){\n    case \"message\":\n        msg.payload.content = \"typing\";        \n        break;\n\n    case \"photo\":\n        msg.payload.content = \"upload_photo\";        \n        break;\n\n    case \"video\":\n        msg.payload.content = \"upload_video\";        \n        break;\n\n    case \"audio\":\n        msg.payload.content = \"upload_audio\";        \n        break;\n\n    case \"document\":\n        msg.payload.content = \"upload_document\";        \n        break;\n\n    case \"location\":\n        msg.payload.content = \"find_location\";        \n        break;\n\n    case \"video_note\":\n        msg.payload.content = \"upload_video_note\";        \n        break;\n        \n    default:\n        msg = null;\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["cc0d5363.33275"]]},{"id":"bd029d64.0546a","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]