examples/sendmediagroup.json
[{"id":"d8e187c1.a57758","type":"telegram sender","z":"b4ae6b65.273bd","name":"","bot":"1ca301b6.26e06e","x":621,"y":1331,"wires":[[]]},{"id":"321d3711.941f58","type":"telegram command","z":"b4ae6b65.273bd","name":"","command":"/send","bot":"1ca301b6.26e06e","strict":false,"hasresponse":false,"x":230.5,"y":1331,"wires":[["8ee7cd38.72be1"]]},{"id":"8ee7cd38.72be1","type":"function","z":"b4ae6b65.273bd","name":"create media group","func":"// sendMediaGroup example: send  between 2 and 10 media.\n// Note that type can also be video.\n// and the caption property is optional.\n// see https://core.telegram.org/bots/api#inputmediaphoto\n// see https://core.telegram.org/bots/api#inputmediavideo\n\nmsg.payload.type = \"mediaGroup\";\nmsg.payload.content = [\n    {\n        type : \"photo\",\n        media : \"c:\\\\Temp\\\\1.jpg\",\n        caption : \"Photo 1\"\n    },\n    {\n        type : \"photo\",\n        media : \"c:\\\\Temp\\\\2.jpg\",\n        caption : \"Photo 2\"\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":1331,"wires":[["d8e187c1.a57758"]]},{"id":"1ca301b6.26e06e","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"Windhose","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]
