examples/sendtomanychats.json
[{"id":"f1af007a.70fe1","type":"telegram sender","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","x":690,"y":80,"wires":[[]]},{"id":"9a0d55f1.532a78","type":"telegram receiver","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","saveDataDir":"c:\\temp\\foo","x":150,"y":80,"wires":[["a779c31c.90401","6040d5c7.d86f9c"],[]]},{"id":"a779c31c.90401","type":"debug","z":"8436a552.ae1f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":220,"wires":[]},{"id":"6040d5c7.d86f9c","type":"function","z":"8436a552.ae1f78","name":"to many chats","func":"var chatIds = [];\nchatIds.push(msg.payload.chatId);\nchatIds.push(msg.payload.chatId);\n\nmsg.payload.chatId = chatIds;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["f1af007a.70fe1"]]},{"id":"c3670dce.18aa8","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]