examples/sendinvoice.json
[{"id":"20955c6ff3a72337","type":"telegram command","z":"5c2564baa1f544ec","name":"","command":"/buy","description":"","registercommand":false,"language":"","bot":"65ca12172854cc2d","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":140,"wires":[["d696a2fcc65ee1b9"],[]]},{"id":"d696a2fcc65ee1b9","type":"function","z":"5c2564baa1f544ec","name":"send invoice","func":"// Invoice Information see https://core.telegram.org/bots/api#sendinvoice\nmsg.payload.type = \"sendInvoice\";\n\nmsg.payload.content = {\n    title : \"Your title here\",\n    description : \"Your description here\",\n    payload : \"some private field\",\n    providerToken: \"the token from your bank\",\n    currency: \"EUR\", // see https://core.telegram.org/bots/payments#supported-currencies\n    prices : [ {\n        label: \"Price\",\n        amount : 12300 } ], //12300 this is 123.00EUR\n}\n\n// Optional\n// msg.payload.options\n//    provider_data\n//    photo_url\n//    photo_size\n//    photo_width\n//    photo_height\n//    need_name\n//    need_phone_number\n//    need_email\n//    need_shipping_address\n//    send_phone_number_to_provider\n//    send_email_to_provider\n//    is_flexible\n//    disable_notification\n//    reply_to_message_id\n//    reply_markup\n\nmsg.payload.options = {\n    reply_to_message_id : msg.payload.messageId,\n    need_name : false,\n    need_phone_number : false,\n    need_email : false,\n    is_flexible : false,\n    protect_content: false\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["5c37c75d438debfa"]]},{"id":"5c37c75d438debfa","type":"telegram sender","z":"5c2564baa1f544ec","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":630,"y":140,"wires":[["1f26627e93b7e04f"]]},{"id":"1f26627e93b7e04f","type":"debug","z":"5c2564baa1f544ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks5","socksport":"1080","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]