examples/sendinvoice.json
[{"id":"2fbb5597.b877ba","type":"telegram command","z":"9101db43e109e13d","name":"","command":"/buy","description":"","registercommand":false,"language":"","bot":"65ca12172854cc2d","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":140,"wires":[["f06873fc.8f712"],[]]},{"id":"f06873fc.8f712","type":"function","z":"9101db43e109e13d","name":"send invoice","func":"// Invoice Information\nmsg.payload.type = \"sendInvoice\";\n\nmsg.payload.content = {\n    title : \"Super Toy\",\n    description : \"The best toy you can buy\",\n    payload : \"secret token\",\n    providerToken : \"Stripe TEST MODE\",\n    currency: \"EUR\",  // see https://core.telegram.org/bots/payments#supported-currencies\n    prices: [\n        {\n            label: \"price\",\n            amount: 123\n        }]// this is 1,23EUR see currency\n}\n\n\n// Optional\n// msg.payload.options\n//    provider_data\n//    photo_url\n//    photo_size\n//    photo_width\n//    photo_height\n//    need_name\n//    need_phone_number\n//    need_email\n//    need_shipping_address\n//    send_phone_number_to_provider\n//    send_email_to_provider\n//    is_flexible\n//    disable_notification\n//    reply_to_message_id\n//    reply_markup\n\nmsg.payload.options = {\n    reply_to_message_id : msg.payload.messageId\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["df01eadc.9cf1a8"]]},{"id":"df01eadc.9cf1a8","type":"telegram sender","z":"9101db43e109e13d","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":700,"y":140,"wires":[[]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks5","socksport":"1080","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]