examples/sendphoto.json
[{"id":"1bdded1.fbdcf13","type":"telegram sender","z":"b4ae6b65.273bd","name":"","bot":"1ca301b6.26e06e","x":637,"y":2020,"wires":[[]]},{"id":"33b83c10.13de64","type":"function","z":"b4ae6b65.273bd","name":"send picture","func":"msg.payload.content = 'foo.jpeg';\nmsg.payload.type = 'photo';\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2020,"wires":[["1bdded1.fbdcf13"]]},{"id":"ebd84fc3.d97fa8","type":"telegram command","z":"b4ae6b65.273bd","name":"/foo","command":"/foo","bot":"1ca301b6.26e06e","strict":false,"hasresponse":false,"x":229.99566650390625,"y":2019.8282470703125,"wires":[["33b83c10.13de64"]]},{"id":"1ca301b6.26e06e","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"Windhose","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]
