examples/sendinvoice.json
[{"id":"2fbb5597.b877ba","type":"telegram command","z":"8436a552.ae1f78","name":"","command":"/buy","bot":"c3670dce.18aa8","strict":false,"hasresponse":true,"x":130,"y":100,"wires":[["f06873fc.8f712"],[]]},{"id":"f06873fc.8f712","type":"function","z":"8436a552.ae1f78","name":"send invoice","func":"// Invoice Information\nmsg.payload.type = \"sendInvoice\";\n\nmsg.payload.content = {\n    title : \"Super Toy\",\n    description : \"The best toy you can buy\",\n    payload : \"secret token\",\n    providerToken : \"Stripe TEST MODE\",\n    startParameter : \"1\",\n    currency : \"EUR\", // see https://core.telegram.org/bots/payments#supported-currencies\n    prices : [ {\n        label : \"EUR\",\n        amount : 123 } ], // this is 1.23EUR\n}\n\n// Optional\n// msg.payload.options\n//    provider_data\n//    photo_url\n//    photo_size\n//    photo_width\n//    photo_height\n//    need_name\n//    need_phone_number\n//    need_email\n//    need_shipping_address\n//    send_phone_number_to_provider\n//    send_email_to_provider\n//    is_flexible\n//    disable_notification\n//    reply_to_message_id\n//    reply_markup\n\nmsg.payload.options = {\n    reply_to_message_id : msg.payload.messageId\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["df01eadc.9cf1a8"]]},{"id":"df01eadc.9cf1a8","type":"telegram sender","z":"8436a552.ae1f78","name":"","bot":"c3670dce.18aa8","x":660,"y":100,"wires":[[]]},{"id":"c3670dce.18aa8","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]