examples/sendhelpmessage.json
[{"id":"e0ed8551.6ca998","type":"telegram command","z":"e4aa33b0.1d4fd","name":"/help","command":"/help","bot":"d086776c.7de82","strict":false,"hasresponse":false,"x":230,"y":380,"wires":[["7ff45ba2.cf16dc"]]},{"id":"7ff45ba2.cf16dc","type":"function","z":"e4aa33b0.1d4fd","name":"create help text","func":"var helpMessage = \"/help - shows help\\r\\n\";\n\nhelpMessage += \"/foo - opens a dialog\\r\\n\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"Your chat id is \" + msg.payload.chatId;\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":380,"wires":[["f3b6627c.5c5148"]]},{"id":"f3b6627c.5c5148","type":"telegram sender","z":"e4aa33b0.1d4fd","name":"send response","bot":"d086776c.7de82","x":660,"y":380,"wires":[[]]},{"id":"d086776c.7de82","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
