examples/setmessagereaction.json
[{"id":"1d5e4fc2f90630dc","type":"telegram sender","z":"d03a174f444c9696","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":710,"y":460,"wires":[[]]},{"id":"55070f1127b2e5d5","type":"telegram receiver","z":"d03a174f444c9696","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"x":190,"y":460,"wires":[["cad82037a06ca06d"],[]]},{"id":"cad82037a06ca06d","type":"function","z":"d03a174f444c9696","name":"setMessageReaction","func":"// see https://core.telegram.org/bots/api#setmessagereaction\nmsg.payload.type = 'setMessageReaction';\nmsg.payload.content = msg.payload.messageId;\nmsg.payload.options = {\n    reaction : [\n        { type : 'emoji', emoji : '👍'}\n    ],\n    is_big : false\n\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["1d5e4fc2f90630dc"]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":true}]