examples/simplebot.json
[{"id":"a42b2347.05b25","type":"catch","z":"8436a552.ae1f78","name":"","x":160,"y":680,"wires":[["bd03654d.09ecb8"]]},{"id":"bd03654d.09ecb8","type":"debug","z":"8436a552.ae1f78","name":"Debug","active":true,"console":"false","complete":"payload","x":596,"y":678,"wires":[]},{"id":"614d1cf1.695f64","type":"function","z":"8436a552.ae1f78","name":"confirmation message","func":"var opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Yes'],\n      ['No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":391,"y":251,"wires":[["9e138687.ee43a8"]]},{"id":"93c8fa9f.7a1138","type":"telegram command","z":"8436a552.ae1f78","name":"/foo","command":"/foo","bot":"c3670dce.18aa8","strict":false,"hasresponse":true,"x":174,"y":304,"wires":[["614d1cf1.695f64"],["4e1d3979.e32fa8"]]},{"id":"4e1d3979.e32fa8","type":"function","z":"8436a552.ae1f78","name":"create response","func":"if(msg.payload.content === 'Yes')\n{\n    msg.payload.content = 'Yes';\n    return [msg, null];   \n}\nelse\n{\n    msg.payload.content = 'No';\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":375,"y":310,"wires":[["9e138687.ee43a8"],[]]},{"id":"9e138687.ee43a8","type":"telegram sender","z":"8436a552.ae1f78","name":"send response","bot":"c3670dce.18aa8","x":615,"y":304,"wires":[[]]},{"id":"6908dd72.a30c74","type":"telegram command","z":"8436a552.ae1f78","name":"/help","command":"/help","bot":"c3670dce.18aa8","strict":false,"hasresponse":false,"x":170,"y":416,"wires":[["c105c26c.7cbe5"]]},{"id":"c105c26c.7cbe5","type":"function","z":"8436a552.ae1f78","name":"create help text","func":"\nvar helpMessage = \"/help - shows help\\r\\n\";\nhelpMessage += \"/foo - opens a dialog\\r\\n\";\nhelpMessage += \"Your chat id is \" + msg.payload.chatId;\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\n\";\n\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":410,"wires":[["9e138687.ee43a8"]]},{"id":"511a51f2.dd1b6","type":"telegram receiver","z":"8436a552.ae1f78","name":"location","bot":"c3670dce.18aa8","saveDataDir":"","x":173,"y":502,"wires":[["90bfc801.af6738"],[]]},{"id":"90bfc801.af6738","type":"function","z":"8436a552.ae1f78","name":"create location message","func":"if(msg.payload.type == 'location')\n{\n    var lat = msg.payload.content.latitude;\n    var lng = msg.payload.content.longitude;\n    \n    msg.payload.type = 'message';\n    msg.payload.content = 'lat=' + lat + ' lon=' + lng;\n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"x":396,"y":502,"wires":[["9e138687.ee43a8"]]},{"id":"dbc2c834.f29f98","type":"inject","z":"8436a552.ae1f78","name":"ping","topic":"","payload":"ping","payloadType":"string","repeat":"","crontab":"","once":false,"x":170,"y":604,"wires":[["f1873176.02a26"]]},{"id":"f1873176.02a26","type":"function","z":"8436a552.ae1f78","name":"send to specific chat","func":"\nmsg.payload = {chatId : 138708568, type : 'message', content : 'ping'}\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":604,"wires":[["9e138687.ee43a8"]]},{"id":"c3670dce.18aa8","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]