examples/triggerCommandFromControlNode.json
[{"id":"8c682765.b34cf8","type":"telegram command","z":"2aad377dfdc4367e","name":"/foo","command":"/foo","description":"","registercommand":false,"language":"","bot":"65ca12172854cc2d","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":550,"y":160,"wires":[["22ce65840450e170"]]},{"id":"6e9683e1a39526da","type":"telegram command","z":"2aad377dfdc4367e","name":"/bar","command":"/bar","description":"","registercommand":false,"language":"","bot":"65ca12172854cc2d","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":550,"y":240,"wires":[["471e47ea5a959c01"]]},{"id":"22ce65840450e170","type":"debug","z":"2aad377dfdc4367e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":160,"wires":[]},{"id":"471e47ea5a959c01","type":"debug","z":"2aad377dfdc4367e","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":240,"wires":[]},{"id":"df5bccfb0eaa9772","type":"telegram control","z":"2aad377dfdc4367e","name":"","bot":"65ca12172854cc2d","outputs":1,"checkconnection":false,"hostname":"","interval":10,"timeout":1,"x":560,"y":320,"wires":[["6aa222d848819333"]]},{"id":"6aa222d848819333","type":"debug","z":"2aad377dfdc4367e","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":320,"wires":[]},{"id":"319bb010c9ef672d","type":"inject","z":"2aad377dfdc4367e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["44b3db9131df60e0"]]},{"id":"44b3db9131df60e0","type":"function","z":"2aad377dfdc4367e","name":"/foo","func":"// see https://core.telegram.org/bots/api#message\n\nlet newMsg = {\n    payload : {\n        command: \"command\",\n        message: {\n            text: \"/foo\",\n        \n            // these are optional\n            // from : { id : 0, username : 'somebody' },\n            // chat : { id : 0 }\n        }\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["df5bccfb0eaa9772"]]},{"id":"70307757bc6de41d","type":"inject","z":"2aad377dfdc4367e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":360,"wires":[["89ccaa8f0e3594be"]]},{"id":"89ccaa8f0e3594be","type":"function","z":"2aad377dfdc4367e","name":"/bar","func":"// see https://core.telegram.org/bots/api#message\n\nlet newMsg = {\n    payload : {\n        command: \"command\",\n        message: {\n            text: \"/bar\",\n        \n            // these are optional\n            // from : { id : 0, username : 'somebody' },\n            // chat : { id : 0 }\n        }\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":360,"wires":[["df5bccfb0eaa9772"]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks5","socksport":"1080","socksusername":"","sockspassword":"","bothost":"ihive.spdns.de","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":true}]