examples/unauthorizedaccess.json
[{"id":"51481804.ffa4e8","type":"telegram receiver","z":"d6bf7c08c7c5fdba","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"hasinput":false,"inputs":0,"handleallupdates":false,"handleprocessupdates":false,"x":310,"y":140,"wires":[[],["7d693fc7.9db0d"]]},{"id":"7d693fc7.9db0d","type":"function","z":"d6bf7c08c7c5fdba","name":"create log string","func":"var chatId = msg.payload.chatId;\nvar username = msg.originalMessage.from.username;\nmsg.originalMessage.timestamp = new Date();\nvar message = JSON.stringify(msg.originalMessage);\n\nmsg.topic = username + ' ' + chatId;\nmsg.payload = [msg.topic, message];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["3a8044a2.4c34ac"]]},{"id":"3a8044a2.4c34ac","type":"file","z":"d6bf7c08c7c5fdba","name":"LogFile","filename":"c:\\temp\\unauthorized.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","x":710,"y":160,"wires":[[]]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"aaa","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"4","pollinterval":"1000","usesocks":false,"sockshost":"192.168.178.200","socksprotocol":"socks4","socksport":"1080","socksusername":"user","sockspassword":"password","bothost":"ihive.spdns.de","botpath":"","localbothost":"127.0.0.1","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":true,"verboselogging":false}]