examples/unauthorizedaccess.json
[{"id":"51481804.ffa4e8","type":"telegram receiver","z":"1f6b5f62.c79df1","name":"","bot":"45ef79a0.ed7688","saveDataDir":"","x":200,"y":60,"wires":[[],["7d693fc7.9db0d"]]},{"id":"7d693fc7.9db0d","type":"function","z":"1f6b5f62.c79df1","name":"create log string","func":"var chatId = msg.payload.chatId;\nvar username = msg.originalMessage.from.username;\nmsg.originalMessage.timestamp = new Date();\nvar message = JSON.stringify(msg.originalMessage);\n\nmsg.topic = username + ' ' + chatId;\nmsg.payload = [msg.topic, message];\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["3a8044a2.4c34ac"]]},{"id":"3a8044a2.4c34ac","type":"file","z":"1f6b5f62.c79df1","name":"LogFile","filename":"c:\\unauthorized.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":600,"y":80,"wires":[]},{"id":"45ef79a0.ed7688","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"1","baseapiurl":"","pollinterval":""}]