examples/webappdata.json
[{"id":"75c35f9c5a3311e2","type":"telegram receiver","z":"ec1cf3fd9654e7e5","name":"","bot":"65ca12172854cc2d","saveDataDir":"","filterCommands":false,"x":190,"y":180,"wires":[["6dcc7cba5e039545"],[]]},{"id":"6dcc7cba5e039545","type":"debug","z":"ec1cf3fd9654e7e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"e6c4ec0e9fed9c4a","type":"telegram sender","z":"ec1cf3fd9654e7e5","name":"","bot":"65ca12172854cc2d","haserroroutput":false,"outputs":1,"x":550,"y":240,"wires":[[]]},{"id":"6ec2de9f5dd9876a","type":"function","z":"ec1cf3fd9654e7e5","name":"","func":"var chatId = msg.payload.chatId;\n\nmsg.payload={\n        reply_to_message_id: msg.payload.messageId,\n        type: \"message\",\n        content: \"Managing stuff..\",\n        chatId: chatId,\n        options: {\n            reply_markup: JSON.stringify({\n                keyboard:[\n                    [\n                        {\n                            \"text\": \"Managing stuff..\",\n                            \"web_app\": {\n                                \"url\":\"https://www.wind.li/test.html?\" + Math.random()\n                            }\n                        }\n                    ]\n                ]\n            })\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["e6c4ec0e9fed9c4a"]]},{"id":"4d6829fc9dbe05ee","type":"telegram command","z":"ec1cf3fd9654e7e5","name":"","command":"/foo","description":"","registercommand":false,"language":"","scope":"default","bot":"65ca12172854cc2d","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":150,"y":240,"wires":[["6ec2de9f5dd9876a"],[]]},{"id":"6142734b9a08b890","type":"comment","z":"ec1cf3fd9654e7e5","name":"Example WebApp for your public web server","info":"<script src=\"https://telegram.org/js/telegram-web-app.js\"></script>      \n<script>\nwindow.Telegram.WebApp.sendData(\"SNADO\");    \n</script>","x":270,"y":120,"wires":[]},{"id":"65ca12172854cc2d","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]